<h3><a class="btn btn-secondary" href="/course"><i class="fa fa-plus"></i> Create New</a> Course List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Name</th>
            <th>ID</th>
            <th>Duration</th>
            <th>Fees</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.cname}}</td>
            <td>{{this.cid}}</td>
            <td>{{this.cduration}}</td>
            <td>{{this.cfees}}</td>
            <td>
                <a href="/course/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/course/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>